<div class="container">
  <div class="container-son">
    <h2>Produtos em estoque</h2>
    <table>
      <thead>
        <tr class="rows">
          <th>Nome</th>
          <th>Quantidade</th>
          <th>Preço</th>
          <th>Descrição</th>
          <th>Categoria</th>
          <th class="container-button-add">
            <button class="button-add" (click)="togleForms()">Adicionar</button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="rows" *ngFor="let product of products[page]">
          <td>{{ product.name }}</td>
          <td>{{ product.amount }}</td>
          <td>R$ {{ product.price }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.category.name }}</td>
          <td class="actions">
            <div style="background-color: transparent">
              <button><fa-icon size="lg" [icon]="faPencil"></fa-icon></button>

              <button (click)="deleteProduct(product.id)">
                <fa-icon size="lg" [icon]="faTrash"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="pages">
      <fa-icon
        size="lg"
        [icon]="faAnglesLeft"
        (click)="changePageInAngles(2, 'left')"
      ></fa-icon>
      <fa-icon
        size="lg"
        [icon]="faAngleLeft"
        (click)="changePageInAngles(1, 'left')"
      ></fa-icon>
      <span
        class="page"
        *ngFor="let numberPage of pages"
        id="page-{{ numberPage }}"
        (click)="changePageInPages(numberPage)"
        [ngClass]="numberPage == page + 1 ? 'page-selected' : ''"
        >{{ numberPage }}</span
      >

      <fa-icon
        size="lg"
        [icon]="faAngleRight"
        (click)="changePageInAngles(1, 'rigth')"
      ></fa-icon>
      <fa-icon
        size="lg"
        [icon]="faAnglesRight"
        (click)="changePageInAngles(2, 'rigth')"
      ></fa-icon>
    </div>
  </div>
</div>

<app-create-product
  *ngIf="visibleForms"
  (newProductEvent)="newProduct($event)"
  (disableFormsEvent)="togleForms()"
></app-create-product>
<app-message
  [message]="message"
  [messageVisible]="messageVisible"
  [isSucess]="isSucess"
></app-message>
